/* Taken from https://stackoverflow.com/a/58441758/6947285 */
.root {
    -fx-accent: #1e74c6;
    -fx-focus-color: -fx-accent;
    -fx-base: #373e43;
    -fx-control-inner-background: derive(-fx-base, 35%);
    -fx-control-inner-background-alt: -fx-control-inner-background;
}

.dialog-pane > .content {
    -fx-background-color: #373e43;
    -fx-text-fill: white;
}

.dialog-pane {
    -fx-background-color: #373e43;
    -fx-text-fill: white;
}

/** Customization of the bar where the buttons are located**/
.dialog-pane > .button-bar > .container {
    -fx-background-color: #373e43;
    -fx-base: #373e43;
}

.label {
    -fx-text-fill: white;
}

.titulo {
    -fx-font-weight: bold;
    -fx-font-size: 18px;
}

.button {
    -fx-focus-traversable: false;
}

.button:hover {
    -fx-text-fill: white;
}

.separator *.line {
    -fx-background-color: #3C3C3C;
    -fx-border-style: solid;
    -fx-border-width: 1px;
}

.copy-button {
    -fx-background-image: url("../icons/copy-white.png");
}

.delete-button {
    -fx-background-image: url("../icons/trash-white.png");
}
